/* styles the entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets the background */
body {
    background-color: #d9dcd6;
}

/* styles the entire header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* styles the company name */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes the text color for the letters seo in the company name */
header h1 .seo {
    color: #d9dcd6;
}

/* styles the navigation buttons.  I attempted to use the nav element for this area of the page, however, it moved the 3 links out of the blue box and into the hero picture. */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styles anchor texts */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets font size for all paragraph texts */
p {
    font-size: 18px;
}

/* styles the large picture, the image is centered in the box, and covers the entire background of the box */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* the images assigned class float-left are on the left side of the screen */
.float-left {
    float: left;
    margin-right: 25px;
}

/* the image assigned class float-right is on the right side of the screen */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the rows on the left. (I tried adding this to the list of 3 classes, below, but, it made the right side column shift down on the webpage.  */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* styles the right column */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles the right column headings */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles the right column icons */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* I tried changing this to be section, instead of listing, but it messed up the webpage and I'm not sure why.  I also tried adding it to 84-87 but it also messed up the webpage.  */
#search-engine-optimization, #online-reputation-management, #social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styles the left side images */
section img {
    max-height: 200px;
}

/* styles the left side headings */
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styles the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
